<template>
  <v-container>
    <v-row>
      <v-col>
        <BlockBlueElement>
          <p>{{ $t('message.about_page_info') }}</p>
        </BlockBlueElement>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <BlockGreyElement>
          <AboutPageElement />
        </BlockGreyElement>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import BlockGreyElement from 'src/components/elements/BlockGreyElement.vue';
import BlockBlueElement from 'src/components/elements/BlockBlueElement.vue';
import AboutPageElement from 'src/components/elements/pages/AboutPageElement.vue';

export default {
  name: 'AboutPage',
  components: {
    BlockGreyElement,
    BlockBlueElement,
    AboutPageElement,
  },
};
</script>
