<template>
  <v-container>
    <v-row>
      <v-col>
        <BlockBlueElement>
          <p>{{ $t('message.career_page_info') }}</p>
        </BlockBlueElement>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <BlockGreyElement>
          <CareerPageElement />
        </BlockGreyElement>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <BlockGreyElement>
          <CareerEventPageElement />
        </BlockGreyElement>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import BlockGreyElement from 'src/components/elements/BlockGreyElement.vue';
import BlockBlueElement from 'src/components/elements/BlockBlueElement.vue';
import CareerPageElement from '../elements/pages/CareerPageElement.vue';
import CareerEventPageElement from '../elements/pages/CareerEventPageElement.vue';

export default {
  name: 'CareerPage',
  components: {
    BlockGreyElement,
    BlockBlueElement,
    CareerPageElement,
    CareerEventPageElement,
  },
};
</script>
