<template>
  <v-container>
    <v-row>
      <v-col>
        <BlockBlueElement>
          <p>{{ $t('message.hard_skill_page_info') }}</p>
        </BlockBlueElement>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <BlockGreyElement>
          <HardsSkillPageElement />
        </BlockGreyElement>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import BlockGreyElement from 'src/components/elements/BlockGreyElement.vue';
import BlockBlueElement from 'src/components/elements/BlockBlueElement.vue';
import HardsSkillPageElement from '../elements/pages/HardsSkillPageElement.vue';

export default {
  name: 'HardSkillPage',
  components: {
    BlockGreyElement,
    BlockBlueElement,
    HardsSkillPageElement,
  },
};
</script>
