<template>
  <v-container>
    <v-row>
      <v-col>
        <BlockBlueElement>
          <p>{{ $t('message.home_page_info_1') }}</p>
          <p>
            {{ $t('message.home_page_info_2') }}
            <router-link to="/print">{{ $t('message.home_page_info_3') }}</router-link>
            {{ $t('message.home_page_info_4') }}
          </p>
        </BlockBlueElement>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import BlockBlueElement from 'src/components/elements/BlockBlueElement.vue';

export default {
  name: 'HomePage',
  components: {
    BlockBlueElement,
  },
};
</script>

<style scoped lang="scss">
p {
  text-align: center;

  a {
    font-style: italic;

    &:hover {
      font-weight: bold;
    }
  }
}

p:first-child {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 32px;
}
</style>
