<template>
  <v-container>
    <v-row class="print-page">
      <v-col cols="12">
        <BlockGreyElement>
          <BlockBorderElement :title="$t('message.global_about')">
            <AboutPageElement />
          </BlockBorderElement>
        </BlockGreyElement>
      </v-col>
      <v-col cols="12">
        <BlockGreyElement>
          <BlockBorderElement :title="$t('message.global_hard_skills')">
            <HardsSkillPageElement />
          </BlockBorderElement>
        </BlockGreyElement>
      </v-col>
      <v-col cols="12">
        <BlockGreyElement>
          <BlockBorderElement :title="$t('message.global_career')">
            <CareerPageElement />
          </BlockBorderElement>
        </BlockGreyElement>
      </v-col>
      <v-col cols="12">
        <BlockGreyElement>
          <BlockBorderElement :title="$t('message.global_career')">
            <CareerEventPageElement />
          </BlockBorderElement>
        </BlockGreyElement>
      </v-col>
      <v-col cols="12">
        <BlockGreyElement>
          <BlockBorderElement :title="$t('message.global_projects')">
            <ProjectPageElement />
          </BlockBorderElement>
        </BlockGreyElement>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import BlockGreyElement from 'src/components/elements/BlockGreyElement.vue';
import BlockBorderElement from 'src/components/elements/BlockBorderElement.vue';
import AboutPageElement from 'src/components/elements/pages/AboutPageElement.vue';
import HardsSkillPageElement from '../elements/pages/HardsSkillPageElement.vue';
import CareerPageElement from '../elements/pages/CareerPageElement.vue';
import CareerEventPageElement from '../elements/pages/CareerEventPageElement.vue';
import ProjectPageElement from 'src/components/elements/pages/ProjectPageElement.vue';

export default {
  name: 'PrintPage',
  components: {
    BlockGreyElement,
    BlockBorderElement,
    AboutPageElement,
    HardsSkillPageElement,
    CareerPageElement,
    CareerEventPageElement,
    ProjectPageElement,
  },
};
</script>

<style scoped lang="scss">
.print-page > div > div > div {
  padding-top: 18px;
}
</style>
