<template>
  <v-container>
    <v-row>
      <v-col>
        <BlockBlueElement>
          <p>{{ $t('message.project_page_info') }}</p>
        </BlockBlueElement>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <BlockGreyElement>
          <ProjectPageElement />
        </BlockGreyElement>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import BlockGreyElement from 'src/components/elements/BlockGreyElement.vue';
import BlockBlueElement from 'src/components/elements/BlockBlueElement.vue';
import ProjectPageElement from 'src/components/elements/pages/ProjectPageElement.vue';

export default {
  name: 'ProjectPage',
  components: {
    BlockGreyElement,
    BlockBlueElement,
    ProjectPageElement,
  },
};
</script>
