<template>
  <header>
    <v-container>
      <HeaderBlock url="/" :text="$t('message.global_home')" />
      <HeaderBlock url="/about" :text="$t('message.global_about')" />
      <HeaderBlock url="/hard-skills" :text="$t('message.global_hard_skills')" />
      <HeaderBlock url="/career" :text="$t('message.global_career')" />
      <HeaderBlock url="/projects" :text="$t('message.global_projects')" />
      <HeaderBlock url="/print" :text="$t('message.global_print')" />
      <HeaderBlock url="" :text="$t('message.global_language')" />
      <div class="mobile">
        <div />
        <div />
        <div />
        <div>
          <HeaderBlock url="/" :text="$t('message.global_home')" />
          <HeaderBlock url="/about" :text="$t('message.global_about')" />
          <HeaderBlock url="/hard-skills" :text="$t('message.global_hard_skills')" />
          <HeaderBlock url="/career" :text="$t('message.global_career')" />
          <HeaderBlock url="/projects" :text="$t('message.global_projects')" />
          <HeaderBlock url="/print" :text="$t('message.global_print')" />
          <HeaderBlock url="" :text="$t('message.global_language')" />
        </div>
      </div>
    </v-container>
  </header>
</template>

<script>
import HeaderBlock from './elements/HeaderBlock.vue';

export default {
  name: 'LayoutHeader',
  components: {
    HeaderBlock,
  },
};
</script>

<style scoped lang="scss">
@import '@/scss/colors.scss';

header {
  background: $grey-1;
  height: 17px;
  user-select: none;
  margin-bottom: 24px;

  & > div:not(.mobile) {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0 12px;
  }

  & > div > div:not(.mobile) {
    display: none;
  }

  div.mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    background: $green-1;
    cursor: pointer;
    position: relative;

    & > div:not(:last-child) {
      width: 18px;
      height: 2px;
      background: $yellow-1;
      margin-top: 2px;

      &:first-child {
        margin-top: 0;
      }
    }

    & > div:last-child {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      background: $grey-1;
      z-index: 2;
      width: max-content;
    }

    &:hover > div:last-child {
      display: flex;
    }
  }
}

@media (min-width: 600px) {
  header {
    & > div > div:not(.mobile) {
      display: flex;
    }

    div.mobile {
      display: none;
    }
  }
}

@media print {
  header {
    display: none;
  }
}
</style>
