<template>
  <div v-if="url !== ''" :class="{ active: routerPath === url, 'header-block': true }">
    <router-link :to="url">{{ text }}</router-link>
  </div>
  <div v-else class="header-block">
    <a>{{ text }}</a>
    <div class="dropdown">
      <p v-on:click="changeLanguage('en')" :class="{ active: locale === 'en' }">English</p>
      <p v-on:click="changeLanguage('uk')" :class="{ active: locale === 'uk' }">Українська</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HeaderBlock',
  props: {
    text: String,
    url: String,
  },
  computed: {
    routerPath() {
      return this.$route.path;
    },
    locale() {
      return this.$i18n.locale;
    },
  },
  methods: {
    changeLanguage(value) {
      this.$i18n.locale = value;
    },
  },
};
</script>

<style scoped lang="scss">
@import '@/scss/colors.scss';
@import '@/scss/mixins.scss';

.header-block {
  cursor: pointer;
  position: relative;

  &:last-child {
    min-width: 88px;
  }

  a {
    display: block;
    height: 15px;
    margin-top: 1px;

    font-weight: bold;
    text-align: left;

    padding: 0 12px;
  }

  .dropdown {
    @include shadow;
    display: none;
    flex-direction: column;
    padding: 3px;
    background: $grey-1;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 100%;
    width: max-content;
    z-index: 2;

    p {
      padding: 3px;
      font-weight: bold;

      &:hover {
        background: $grey-2;
        color: $grey-1;
      }

      &.active {
        background: $blue-2;
        color: $white-1;
      }
    }
  }

  &:hover {
    background: $grey-2;

    a {
      color: $grey-1;
    }

    .dropdown {
      display: flex;
    }
  }

  &.active {
    background: $blue-2;

    a {
      color: $white-1;
    }
  }
}

@media (min-width: 600px) {
  .header-block {
    a {
      text-align: center;
    }

    .dropdown {
      top: 17px;
      left: 0;
    }
  }
}
</style>
