<template>
  <div class="career-block">
    <p>
      <span>{{ $t('message.career_dates') }}: </span>{{ from }}{{ to === undefined ? '' : ' - ' + to }}
    </p>
    <p>
      <span>{{ $t('message.career_responsibilities') }}: </span>{{ description }}
    </p>
    <p v-if="stack">
      <span>{{ $t('message.global_stack') }}: </span>{{ stack }}
    </p>
  </div>
</template>

<script>
export default {
  name: 'BlockCareerElement',
  props: {
    from: {
      type: String,
      required: true,
    },
    to: String,
    description: {
      type: String,
      required: true,
    },
    stack: String,
  },
};
</script>

<style scoped lang="scss">
@import '@/scss/colors.scss';
.career-block {
  p {
    margin-bottom: 12px;
    text-align: justify;

    span {
      font-weight: bold;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
  // & > div:first-child {
  //   display: flex;
  //   justify-content: space-between;
  //   margin-bottom: 3px;

  //   span {
  //     color: $grey-2;
  //   }
  // }
}
</style>
