<template>
  <div class="project-block">
    <img :src="imgPath" :alt="imageSource" />
    <div>
      <p>
        <span>{{ $t('message.project_page_about') }}: </span>{{ about }}
      </p>
      <p>
        <span>{{ $t('message.project_page_my_attachment') }}: </span>{{ attachments }}
      </p>
      <p>
        <span>{{ $t('message.global_stack') }}: </span>{{ stack }}.
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BlockProjectElement',
  props: {
    imageSource: {
      type: String,
      required: true,
    },
    about: {
      type: String,
      required: true,
    },
    attachments: {
      type: String,
      required: true,
    },
    stack: {
      type: String,
      required: true,
    },
  },
  computed: {
    imgPath() {
      return require(`../../assets/images/${this.imageSource}`);
    },
  },
};
</script>

<style scoped lang="scss">
@import '@/scss/colors.scss';
.project-block {
  img {
    width: 100%;
    object-fit: cover;
    border: 1px solid $white-1;
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 12px;
    text-align: justify;

    span {
      font-weight: bold;
    }
  }
}

@media (max-width: 599px) {
  .project-block {
    display: flex;

    img {
      width: 50%;
    }

    div {
      margin-left: 12px;
    }
  }
}
</style>
