<template>
  <div :class="{ 'h-100': height100, 'block-border': true }">
    <p>{{ title }}</p>
    <slot />
  </div>
</template>

<script>
export default {
  name: 'BlockBorderElement',
  props: {
    title: String,
    height100: Boolean,
  },
};
</script>

<style scoped lang="scss">
@import '@/scss/colors.scss';

.block-border {
  border: 1px solid $grey-2-50;
  position: relative;
  padding: 12px;

  &.h-100 {
    height: 100%;
  }

  & > p:first-child {
    position: absolute;
    top: -8px;
    left: 50%;
    font-weight: bold;
    background: $grey-1;
    padding: 0 12px;
    transform: translate(-50%, 0);
    min-width: max-content;
  }
}
</style>
