<template>
  <div class="block">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'BlockBlueElement',
};
</script>

<style scoped lang="scss">
@import '@/scss/colors.scss';
@import '@/scss/mixins.scss';

.block {
  @include shadow;
  background: $blue-2;
  padding: 28px;
  position: relative;
  z-index: 0;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border: 2px solid $white-1;
  }

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    border: 2px solid $white-1;
  }

  * {
    font-weight: normal;
    color: $white-1;
  }
}
</style>
