<template>
  <div class="block-grey">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'BlockGreyElement',
};
</script>

<style scoped lang="scss">
@import '@/scss/colors.scss';
@import '@/scss/mixins.scss';

.block-grey {
  @include shadow;
  background: $grey-1;
  padding: 28px;
  position: relative;
  z-index: 0;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border: 2px solid $white-1;
  }

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    border: 2px solid $white-1;
  }

  .col {
    padding: 12px 6px;
  }

  .row {
    margin: -12px -6px;
  }

  * {
    font-weight: normal;
  }
}

@media print {
  .block-grey {
    box-shadow: none;
  }
}
</style>
