<template>
  <div class="progress">
    <div>
      <p>
        {{ title }}<span v-if="experience"> (~{{ experience }})</span>
      </p>
      <p v-if="maxValue">{{ value }}/{{ maxValue }}</p>
      <p v-else>{{ value }}</p>
    </div>
    <v-progress-linear
      background-color="#888888"
      color="#008000"
      height="6"
      :value="maxValue === '' ? 100 : Math.floor((value / maxValue) * 100)"
    ></v-progress-linear>
  </div>
</template>

<script>
export default {
  name: 'ProgressElement',
  props: {
    value: String,
    maxValue: String,
    title: String,
    experience: String,
  },
};
</script>

<style scoped lang="scss">
@import '@/scss/colors.scss';
.progress {
  & > div:first-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;

    span {
      color: $grey-2;
    }
  }
}
</style>
