<template>
  <v-row>
    <v-col cols="12" sm="4" md="3">
      <BlockBorderElement :title="$t('message.about_page_photo')">
        <img src="@/assets/images/photo.png" />
      </BlockBorderElement>
    </v-col>
    <v-col>
      <v-row>
        <v-col cols="12">
          <BlockBorderElement :title="$t('message.about_page_intro')">
            <p v-html="$t('message.about_page_intro_txt')"></p>
          </BlockBorderElement>
        </v-col>
        <v-col cols="12">
          <BlockBorderElement :title="$t('message.about_page_study')">
            <p v-html="$t('message.about_page_study_txt')"></p>
          </BlockBorderElement>
        </v-col>
        <v-col cols="12">
          <BlockBorderElement :title="$t('message.about_page_job')">
            <p v-html="$t('message.about_page_job_txt')"></p>
          </BlockBorderElement>
        </v-col>
        <v-col cols="12">
          <BlockBorderElement :title="$t('message.about_page_move')">
            <p v-html="$t('message.about_page_move_txt')"></p>
          </BlockBorderElement>
        </v-col>
        <v-col cols="12">
          <BlockBorderElement :title="$t('message.about_page_career')">
            <p v-html="$t('message.about_page_career_txt')"></p>
          </BlockBorderElement>
        </v-col>
        <v-col cols="12">
          <BlockBorderElement :title="$t('message.about_page_outside')">
            <p v-html="$t('message.about_page_outside_txt')"></p>
          </BlockBorderElement>
        </v-col>
        <v-col cols="12">
          <BlockBorderElement :title="$t('message.about_page_hobby')">
            <p v-html="$t('message.about_page_hobby_txt')"></p>
          </BlockBorderElement>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import BlockBorderElement from 'src/components/elements/BlockBorderElement.vue';

export default {
  name: 'AboutPageElement',
  components: {
    BlockBorderElement,
  },
};
</script>

<style scoped lang="scss">
@import '@/scss/colors.scss';

img {
  border: 1px solid $white-1;
  width: 100%;
}

p {
  text-align: justify;
}
</style>
