<template>
  <v-row>
    <v-col cols="12" sm="6">
      <BlockBorderElement :title="$t('message.career_page_bh2')" :height100="true">
        <BlockCareerElement from="2021" :description="$t('message.career_page_bh2_desc')" />
      </BlockBorderElement>
    </v-col>
    <v-col cols="12" sm="6">
      <BlockBorderElement :title="$t('message.career_page_bua1')" :height100="true">
        <BlockCareerElement from="2021" :description="$t('message.career_page_bua1_desc')" />
      </BlockBorderElement>
    </v-col>
    <v-col cols="12" sm="6">
      <BlockBorderElement :title="$t('message.career_page_bh1')" :height100="true">
        <BlockCareerElement from="2020" :description="$t('message.career_page_bh1_desc')" />
      </BlockBorderElement>
    </v-col>
    <v-col cols="12" sm="6">
      <BlockBorderElement :title="$t('message.career_page_bua2')" :height100="true">
        <BlockCareerElement from="2020" :description="$t('message.career_page_bua2_desc')" />
      </BlockBorderElement>
    </v-col>
  </v-row>
</template>

<script>
import BlockBorderElement from 'src/components/elements/BlockBorderElement.vue';
import BlockCareerElement from 'src/components/elements/BlockCareerElement.vue';

export default {
  name: 'CareerPageElement',
  components: {
    BlockBorderElement,
    BlockCareerElement,
  },
};
</script>
