<template>
  <v-row>
    <v-col cols="12" sm="6">
      <BlockBorderElement :title="$t('message.career_page_dl')" :height100="true">
        <BlockCareerElement
          :from="$t('message.career_page_dl_from')"
          :to="$t('message.career_page_dl_to')"
          :description="$t('message.career_page_dl_desc')"
          stack="PHP, Symfony, JS, React, Vue, Solidity, Express"
        />
      </BlockBorderElement>
    </v-col>
    <v-col cols="12" sm="6">
      <BlockBorderElement :title="$t('message.career_page_inc')" :height100="true">
        <BlockCareerElement
          :from="$t('message.career_page_inc_from')"
          :to="$t('message.career_page_inc_to')"
          :description="$t('message.career_page_inc_desc')"
          stack="PHP, Yii2, JS, JQuery, React"
        />
      </BlockBorderElement>
    </v-col>
    <v-col cols="12" sm="6">
      <BlockBorderElement :title="$t('message.career_page_am')" :height100="true">
        <BlockCareerElement
          :from="$t('message.career_page_am_from')"
          :to="$t('message.career_page_am_to')"
          :description="$t('message.career_page_am_desc')"
          stack="PHP, Yii2, Symfony"
        />
      </BlockBorderElement>
    </v-col>
    <v-col cols="12" sm="6">
      <BlockBorderElement :title="$t('message.career_page_zl')" :height100="true">
        <BlockCareerElement
          :from="$t('message.career_page_zl_from')"
          :to="$t('message.career_page_zl_to')"
          :description="$t('message.career_page_zl_desc')"
          stack="PHP, Yii2, Symfony, JS, JQuery, 1C"
        />
      </BlockBorderElement>
    </v-col>
    <v-col cols="12" sm="6">
      <BlockBorderElement :title="$t('message.career_page_dspm')" :height100="true">
        <BlockCareerElement
          :from="$t('message.career_page_dspm_from')"
          :to="$t('message.career_page_dspm_to')"
          :description="$t('message.career_page_dspm_desc')"
        />
      </BlockBorderElement>
    </v-col>
    <v-col cols="12" sm="6">
      <BlockBorderElement :title="$t('message.career_page_ober')" :height100="true">
        <BlockCareerElement
          :from="$t('message.career_page_ober_from')"
          :to="$t('message.career_page_ober_to')"
          :description="$t('message.career_page_ober_desc')"
        />
      </BlockBorderElement>
    </v-col>
  </v-row>
</template>

<script>
import BlockBorderElement from 'src/components/elements/BlockBorderElement.vue';
import BlockCareerElement from 'src/components/elements/BlockCareerElement.vue';

export default {
  name: 'CareerPageElement',
  components: {
    BlockBorderElement,
    BlockCareerElement,
  },
};
</script>
