<template>
  <v-row class="h-s-page-element">
    <v-col cols="12" md="4">
      <BlockBorderElement :title="$t('message.hard_skill_page_grad')" :height100="true">
        <div>
          <span>1 -</span>
          <span>{{ $t('message.hard_skill_page_grad_1') }}</span>
        </div>
        <div>
          <span>2 -</span>
          <span>{{ $t('message.hard_skill_page_grad_2') }}</span>
        </div>
        <div>
          <span>3 -</span>
          <span>{{ $t('message.hard_skill_page_grad_3') }}</span>
        </div>
        <div>
          <span>4 -</span>
          <span>{{ $t('message.hard_skill_page_grad_4') }}</span>
        </div>
        <div>
          <span>5 -</span>
          <span>{{ $t('message.hard_skill_page_grad_5') }}</span>
        </div>
        <div>
          <span>6 -</span>
          <span>{{ $t('message.hard_skill_page_grad_6') }}</span>
        </div>
      </BlockBorderElement>
    </v-col>
    <v-col cols="12" sm="6" md="4">
      <BlockBorderElement :title="$t('message.hard_skill_page_pl')" :height100="true">
        <Progress title="JS" experience="4y" value="5" max-value="6" />
        <Progress title="PHP" experience="2y" value="5" max-value="6" />
        <Progress title="Solidity" experience="2y" value="5" max-value="6" />
        <Progress title="TypeScript" experience="9m" value="4" max-value="6" />
        <Progress title="AssemblyScript" experience="9m" value="4" max-value="6" />
        <Progress title="Python" experience="3m" value="3" max-value="6" />
        <Progress title="Rust" experience="3m" value="3" max-value="6" />
        <Progress title="C#" experience="3m" value="2" max-value="6" />
      </BlockBorderElement>
    </v-col>
    <v-col cols="12" sm="6" md="4">
      <BlockBorderElement :title="$t('message.hard_skill_page_fw')" :height100="true">
        <Progress title="Yii2" experience="1.5y" value="5" max-value="6" />
        <Progress title="Express" experience="9m" value="5" max-value="6" />
        <Progress title="Vue" experience="1y" value="5" max-value="6" />
        <Progress title="React" experience="1.5y" value="4" max-value="6" />
        <Progress title="TheGraph" experience="1y" value="5" max-value="6" />
        <Progress title="Symfony" experience="1y" value="4" max-value="6" />
        <Progress title="Next" experience="4m" value="3" max-value="6" />
        <Progress title="Django" experience="2m" value="2" max-value="6" />
      </BlockBorderElement>
    </v-col>
    <v-col cols="12" sm="6" md="4">
      <BlockBorderElement :title="$t('message.hard_skill_page_db')" :height100="true">
        <Progress title="MySQL" experience="2y" value="5" max-value="6" />
        <Progress title="MongoDB" experience="1y" value="5" max-value="6" />
        <Progress title="PostgreSQL" experience="5m" value="3" max-value="6" />
      </BlockBorderElement>
    </v-col>
    <v-col cols="12" sm="6" md="4">
      <BlockBorderElement :title="$t('message.hard_skill_page_lang')" :height100="true">
        <Progress title="Українська" experience="" value="Рідна" max-value="" />
        <Progress title="Русский" experience="" value="Отличный" max-value="" />
        <Progress title="English" experience="" value="B2" max-value="" />
      </BlockBorderElement>
    </v-col>
    <v-col cols="12" sm="6" md="4">
      <BlockBorderElement :title="$t('message.hard_skill_page_other')" :height100="true">
        <Progress title="Git" experience="3.5y" value="5" max-value="6" />
        <Progress title="Docker" experience="1.5y" value="4" max-value="6" />
        <Progress title="Figma" experience="2y" value="4" max-value="6" />
      </BlockBorderElement>
    </v-col>
  </v-row>
</template>

<script>
import BlockBorderElement from 'src/components/elements/BlockBorderElement.vue';
import Progress from 'src/components/elements/ProgressElement.vue';

export default {
  name: 'HardsSkillPageElement',
  components: {
    BlockBorderElement,
    Progress,
  },
};
</script>

<style scoped lang="scss">
@import '@/scss/colors.scss';
.h-s-page-element {
  & > div:nth-child(1) > div > div {
    display: flex;
    margin-bottom: 12px;

    span {
      display: block;

      &:first-child {
        min-width: 21px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  & > div:not(:nth-child(1)) > div > div {
    margin-bottom: 6px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
</style>
