<template>
  <v-row class="project-page-element">
    <v-col cols="12" sm="6" md="4" lg="3">
      <BlockBorderElement :title="$t('message.project_page_cero_title')" :height100="true">
        <BlockProjectElement
          image-source="cero.png"
          :about="$t('message.project_page_cero_about')"
          :attachments="$t('message.project_page_cero_attachments')"
          stack="Solidity, Next, Figma"
        />
      </BlockBorderElement>
    </v-col>
    <v-col cols="12" sm="6" md="4" lg="3">
      <BlockBorderElement :title="$t('message.project_page_schedule_title')" :height100="true">
        <BlockProjectElement
          image-source="schedule.png"
          :about="$t('message.project_page_schedule_about')"
          :attachments="$t('message.project_page_schedule_attachments')"
          stack="Symfony, React, Figma"
        />
      </BlockBorderElement>
    </v-col>
    <v-col cols="12" sm="6" md="4" lg="3">
      <BlockBorderElement :title="$t('message.project_page_tip_title')" :height100="true">
        <BlockProjectElement
          image-source="tip.png"
          :about="$t('message.project_page_tip_about')"
          :attachments="$t('message.project_page_tip_attachments')"
          stack="PHP, Symfony, JS, JQuery, React"
        />
      </BlockBorderElement>
    </v-col>
    <v-col cols="12" sm="6" md="4" lg="3">
      <BlockBorderElement :title="$t('message.project_page_canna_title')" :height100="true">
        <BlockProjectElement
          image-source="canna.png"
          :about="$t('message.project_page_canna_about')"
          :attachments="$t('message.project_page_canna_attachments')"
          stack="Solidity"
        />
      </BlockBorderElement>
    </v-col>
    <v-col cols="12" sm="6" md="4" lg="3">
      <BlockBorderElement :title="$t('message.project_page_dexe_title')" :height100="true">
        <BlockProjectElement
          image-source="dexe.png"
          :about="$t('message.project_page_dexe_about')"
          :attachments="$t('message.project_page_dexe_attachments')"
          stack="Solidity"
        />
      </BlockBorderElement>
    </v-col>
    <v-col cols="12" sm="6" md="4" lg="3">
      <BlockBorderElement :title="$t('message.project_page_nftb_title')" :height100="true">
        <BlockProjectElement
          image-source="nftb.png"
          :about="$t('message.project_page_nftb_about')"
          :attachments="$t('message.project_page_nftb_attachments')"
          stack="Solidity"
        />
      </BlockBorderElement>
    </v-col>
    <v-col cols="12" sm="6" md="4" lg="3">
      <BlockBorderElement :title="$t('message.project_page_lasertron_title')" :height100="true">
        <BlockProjectElement
          image-source="lasertron.png"
          :about="$t('message.project_page_lasertron_about')"
          :attachments="$t('message.project_page_lasertron_attachments')"
          stack="PHP, Yii2, JS, JQuery"
        />
      </BlockBorderElement>
    </v-col>
    <v-col cols="12" sm="6" md="4" lg="3">
      <BlockBorderElement :title="$t('message.project_page_meraan_title')" :height100="true">
        <BlockProjectElement
          image-source="meraan.png"
          :about="$t('message.project_page_meraan_about')"
          :attachments="$t('message.project_page_meraan_attachments')"
          stack="PHP, Yii2, JS, JQuery"
        />
      </BlockBorderElement>
    </v-col>
    <v-col cols="12" sm="6" md="4" lg="3">
      <BlockBorderElement :title="$t('message.project_page_event_title')" :height100="true">
        <BlockProjectElement
          image-source="event.png"
          :about="$t('message.project_page_event_about')"
          :attachments="$t('message.project_page_event_attachments')"
          stack="PHP, Symfony, JS, React"
        />
      </BlockBorderElement>
    </v-col>
    <v-col cols="12" sm="6" md="4" lg="3">
      <BlockBorderElement :title="$t('message.project_page_q_title')" :height100="true">
        <BlockProjectElement
          image-source="q.png"
          :about="$t('message.project_page_q_about')"
          :attachments="$t('message.project_page_q_attachments')"
          stack="JS, React, Solidity"
        />
      </BlockBorderElement>
    </v-col>
    <v-col cols="12" sm="6" md="4" lg="3">
      <BlockBorderElement :title="$t('message.project_page_rs_title')" :height100="true">
        <BlockProjectElement
          image-source="rs.png"
          :about="$t('message.project_page_rs_about')"
          :attachments="$t('message.project_page_rs_attachments')"
          stack="PHP, Yii2, JS, JQuery, 1C"
        />
      </BlockBorderElement>
    </v-col>
  </v-row>
</template>

<script>
import BlockBorderElement from 'src/components/elements/BlockBorderElement.vue';
import BlockProjectElement from 'src/components/elements/BlockProjectElement.vue';

export default {
  name: 'ProjectPageElement',
  components: {
    BlockBorderElement,
    BlockProjectElement,
  },
};
</script>
