<template>
  <footer>
    <v-container>
      <div class="footer-block">
        <a href="https://telegram.me/agoodminute" target="_blank">Telegram</a>
      </div>
      <div class="footer-block">
        <a href="https://linkedin.com/in/alexander-fedorenko-fedok" target="_blank">LinkedIn</a>
      </div>
      <div class="footer-block">
        <a href="https://github.com/FedOken?tab=repositories" target="_blank">GitHub</a>
      </div>
      <div class="footer-block">
        <a href="https://gitlab.com/fedok" target="_blank">GitLab</a>
      </div>
      <div class="footer-block">
        <a href="mailto:agoodminute@gmail.com">Email</a>
      </div>
    </v-container>
  </footer>
</template>

<script>
export default {
  name: 'LayoutFooter',
};
</script>

<style scoped lang="scss">
@import '@/scss/colors.scss';

footer {
  background: $grey-1;
  height: 17px;
  user-select: none;
  margin-top: 24px;

  & > div {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0;

    & > div {
      cursor: pointer;

      a {
        display: block;
        height: 15px;
        margin-top: 1px;

        font-weight: bold;
        text-align: center;

        padding: 0 12px;
      }
      &:hover {
        background: $grey-2;

        a {
          color: $grey-1;
        }
      }
    }
  }
}

@media print {
  footer {
    display: none;
  }
}
</style>
