<template>
  <div id="cv-app">
    <LayoutHeader />
    <v-app>
      <router-view />
    </v-app>
    <LayoutFooter />
  </div>
</template>

<script>
import LayoutHeader from 'src/components/layout/header/LayoutHeader.vue';
import LayoutFooter from 'src/components/layout/footer/LayoutFooter.vue';

export default {
  name: 'App',
  components: {
    LayoutHeader,
    LayoutFooter,
  },
};
</script>

<style lang="scss">
@import '@/scss/colors.scss';
@import '@/scss/fonts.scss';

html {
  // height: 100%;
  min-height: 100%;
}

body {
  // min-height: 100%;
  height: 100vh;
  min-height: 100vh;

  #cv-app {
    min-height: 100%;
    background: $blue-1;

    display: flex;
    flex-direction: column;

    & > div {
      min-height: calc(100vh - 82px);
      background: $blue-1;

      & > div {
        min-height: unset;
      }
    }
  }

  * {
    color: $black-1;
    text-decoration: none;
  }

  *,
  .v-application p {
    margin: 0;
    padding: 0;
  }

  page-break-after: always;
}
</style>
